<!DOCTYPE html>
<html>
  <head>
    <title>LinkedOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="LinkedOut" />
     <meta property='og:image' content="<%= image_url('LinkedOutImg.png') %>"/>
     <meta property="og:description"
       content="Clone of LinkedIn."
     />
     <meta property="og:url"
       content="http://linkedout-aa.herokuapp.com/"
     />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"> window.logo = "<%= image_url('LinkedOut.png')%>"</script>
     <script type="text/javascript"> window.face = "<%= image_url('face.png')%>"</script>
          <script type="text/javascript"> window.anotherface = "<%= image_url('anotherface.png')%>"</script>
     <script type="text/javascript"> window.croppedface = "<%= image_url('zoomedout.png')%>"</script>
    <script type="text/javascript"> window.faceshot = "<%= image_url('propic.png')%>"</script>
    <script type="text/javascript"> window.github = "<%= image_url('githb.png')%>"</script>
    <script type="text/javascript"> window.linkedin = "<%= image_url('jacklinkedin.png')%>"</script>
    <script type="text/javascript"> window.dogo = "<%= image_url('dogo.jpg')%>"</script>
    <script type="text/javascript"> window.building = "<%= image_url('building.jpg')%>"</script>
    <script type="text/javascript"> window.graduation = "<%= image_url('graduation.jpg')%>"</script>
    <script type="text/javascript"> window.wallpic = "<%= image_url('wallpic.png')%>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
