<!DOCTYPE html>
<html>
  <head>
    <title>LinkedOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"> window.logo = "<%= image_url('LinkedOut.png')%>"</script>
    <script type="text/javascript"> window.faceshot = "<%= image_url('propic.png')%>"</script>
    <script type="text/javascript"> window.github = "<%= image_url('githb.png')%>"</script>
    <script type="text/javascript"> window.linkedin = "<%= image_url('jacklinkedin.png')%>"</script>
    <script type="text/javascript"> window.dogo = "<%= image_url('dogo.jpg')%>"</script>
    <script type="text/javascript"> window.wallpic = "<%= image_url('wallpic.png')%>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
